@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #00ff00;
  --danger: #ff0000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-danger: var(--danger);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --accent: #00ff00;
    --danger: #ff0000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: courier, monospace;
}

.dashed-border {
  border-right-style: dashed;
  border-right-width: 1px;
  border-right-color: var(--foreground);
}

.terminal-button {
  padding: 0.25rem 0.75rem;
  margin: 0 0.25rem;
  border: 1px solid var(--foreground);
  background-color: var(--background);
  color: var(--foreground);
  transition: all 0.2s ease;
}

.terminal-button:hover {
  border-color: var(--accent);
  color: var(--accent);
}

.danger-button {
  color: var(--danger);
  border-color: var(--danger);
}

.danger-button:hover {
  color: var(--danger);
  border-color: var(--danger);
  opacity: 0.8;
}
